const username = document.getElementById("username");
const password = document.getElementById("password");
const checkbox = document.getElementById("checkbox");
const submitBtn = document.getElementById("submit");
const existingBtn = document.getElementById("existing");


window.onload = function () {
    const savedUser = localStorage.getItem("username");
    const savedPass = localStorage.getItem("password");

    if (savedUser && savedPass) {
        existingBtn.style.display = "inline-block";
        checkbox.checked = true;
    }
};

submitBtn.addEventListener("click", (e) => {
    
    alert(`Logged in as ${username.value}`);

    if (checkbox.checked) {
        localStorage.setItem("username", username.value);
        localStorage.setItem("password", password.value);
    } else {
        localStorage.removeItem("username");
        localStorage.removeItem("password");
    }
});

existingBtn.addEventListener("click", () => {
    const saved = localStorage.getItem("username");
    if (saved) {
        alert("Logged in as " + saved);
    }
});
